@media (max-width: 900px) {
  
  .sec2 .mobile {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -16px;
  }

  .item_box {
    width: calc(50% - 16px);
    margin-right: 16px;
  }

  .item_img {
    width: 100%;
  }

  .down_img {
    display: none;
  }

  .sec3 {
    flex-direction: column;
    padding: 50px 16px;
    height: auto;
  }

  .txt3_box {
    position: static;
    margin-bottom: 32px;
  }

  .sec4 {
    display: block;
  }

  .sec4_wrap {
    width: 100%;
    padding: 16px;
  }

  .sec4 .object_wrap {
    margin-right: -16px;
    width: auto;
  }

  .sec4 .object {
    width: calc(50% - 16px);
    margin-right: 16px;
  }

  .sec4 .img_box {
    width: 100%;
    height: 400px;
  }

  .object_wrap {
    width: 100%;
  }

  .t_b_1 h2 {
    font-size: 34px;
  }

  .up_img {
    position: static;
    width: 100%;
    height: 470px;
  }

  .up_img img {
    border-radius: 0;
  }

  .sec3 .img_box {
    justify-content: flex-start;
    align-items: flex-end;
  }

  footer {
    padding: 45px 40px;
  }
}


@media (max-width: 800px) {

  header {
    height: 60px;
  }

  .logo {
    width: 90px;
  }

  .cart1,
  .menu1 {
    display: none;
  }

  .cart2,
  .menu2 {
    display: block;
    fill: #fff;
    cursor: pointer;
  }

  .cart2.on,
  .menu2.on {
    fill: #222;
  }

  .swiper-wrapper p {
    font-size: 110px;
  }

  .txt4_box .kr{
    height: 90px;
  }

  .sec5_pc{
    display: none;
  }

  .sec5{
    position: inherit;
    flex-direction: column;
    height: auto;
    padding: 50px 30px;
  }

  .sec5 h2{
    position: inherit;
    margin-bottom: 20px;
  }

  .sec7{
    margin: 100px 16px;
  }

  .img_wrap-m{
    display: block !important;
    width: 100%;
    height: 880px;
  }

  .f_l_bottom {
    flex-direction: column;
  }

  .b_1 {
    margin-right: 0;
    margin-bottom: 10px;
  }

}

@media (max-width: 760px) {

  .up_img{
    height: 435px;
  }

  .txt_wrap h3 {
    font-size: 34px;
    margin-bottom: 20px;
  }
}

@media (max-width: 700px) {

  .swiper-wrapper p {
    font-size: 99px;
  }

  .btn_box{
    width: 25px;
    height: 25px;
  }

  .btn_bg {
    width: 20px;
    height: 20px;
  }

  .sec5 h2 {
    font-size: 45px;
  }

  .img_wrap-m{
    height: 800px;
  }

  .logo2 {
    width: 380px;
  }

  .img_box1 {
    width: 315px;
  }

  .img_box2 {
    height: 500px;
  }
}

@media (max-width: 650px) {
  .swiper-wrapper p {
    font-size: 90px;
  }

  .sec4 .object{
    width: calc(100% - 16px);
  }

  .txt4_box .kr {
    height: 75px;
  }


  .object{
    pointer-events: none;
  }

  .object .txt4_box{
    opacity: 1;
  }

  .img_wrap-m{
    height: 730px;
  }

  .sec5 h2{
    font-size: 40px;
  }

  .txt6_box h3 {
    font-size: 35px;
  }

  .paris .p_img_box{
    height: 630px;
  }

  .txt7_box h3 {
    font-size: 30px;
  }

  .p_txt_top p {
    font-size: 32px;
  }

  .p_txt_top h3 {
    font-size: 24px;
  }
}